* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/darkforest_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Javanese Text", sans-serif;
}

header {
    background-color: black;
    opacity: 60%;
    padding: 50px;
}

header h1, h2, h3 {
    color: white;
}

.main {
    text-align: center;
}


.image-container {
    position: relative;
    display: inline-block;
    transform: translateY(60px);
}

.image-container img {
    height: 400px;
    display: block;
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.9);
    border-radius: 300px;
}


.image-container button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 90%;
    border-radius: 7px;
    border: black solid 1px;
    background-color: #1a1919;
    text-align: center;
    padding: 5px;
    height: 60px;
    width: 100px;
    transition: transform 0.3s ease;
}

.image-container button:hover {
    opacity: 80%;
    background-color: #000000;
    transform: translate(-50%, -50%) scale(1.5);
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main a {
    text-decoration: none;
    color: #c0bfbf;
    font-family: "Javanese Text", sans-serif;
}
footer {
    background-color: black;
    opacity: 60%;
    color: white;
    margin-top: 50px;
    height: 60px;
    padding-top: 20px;
    padding-left: 10px;
}

@keyframes glow{
    50%{box-shadow:0 0 50px rgb(152, 151, 151, 2);}

}
